.banner-section{
    background: url('../images//inverter-bann.jpg');
    background-position: center;
    background-size: cover;
    padding: 150px;
}

.banner-section h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ffba60;
}


/* About Section Start */
.abt-section{
    margin-top: 60px;
}

.abt-section .heading{
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.abt-section .heading:after{
    content: '';
    display: block;
    border-top: 5px solid #000;
    width: 70%;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}
/* About Section Ends */







@media screen and (max-width: 991px) {
    .banner-section {
        padding: 100px;
    }
    .abt-section{
        margin-top: 40px;
    }
}


@media screen and (max-width: 767px) {
    .banner-section {
        padding: 60px;
    }
}


@media screen and (max-width: 575px) {
    .banner-section {
        padding: 60px;
    }
}