.banner-section{
    background: url('../images//inverter-bann.jpg');
    background-position: center;
    background-size: cover;
    padding: 150px;
}

.banner-section h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ffba60;
}



/* Contact Us Section Start */
.contact-us{
    margin-top: 60px;
}

.contact-us .find-us h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-us .find-us p{
    font-size: 18px;
}

.contact-us .office-loc h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 25px;
}

.contact-us .office-loc ul{
    padding-left: 20px;
}

.contact-us .office-loc li{
    font-size: 18px;
}

.contact-us .contact-form h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-us .contact-form form .form-control:focus{

    box-shadow: none;
    border-color: inherit;
}

.contact-us .contact-form form button{
    background: #ffba60;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    margin-top: 25px;
    transition: all .5s ease;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Contact Us Section Ends */








@media screen and (max-width: 991px) {
    .banner-section {
        padding: 100px;
    }
    .contact-us{
        margin-top: 40px;
    }
}


@media screen and (max-width: 767px) {
    .banner-section {
        padding: 60px;
    }

    .contact-us .row .col-md-5{
        order: 2;
        margin-top: 40px;
    }
    .contact-us .row .col-md-7{
        order: 1;
    }

}


@media screen and (max-width: 575px) {
    .banner-section {
        padding: 60px;
    }
}